#player {
    width: 64px;
    height: 64px;
    position: relative;
    background: url('img/character.png') no-repeat;
    margin-left: 20px;
    margin-top: 10px; 
}

#cell {
    width: 100px;
    height: 100px;
    position: absolute;
}

#canvas {
    position: absolute;
    border-radius: 25px;
}

#player.move-up {
    background-position-x: 0px;
    background-position-y: -192px;
    animation: walk-up 1s steps(4);
}

#player.move-down {
    background-position-x: 0px;
    background-position-y: 0px;
    animation: walk-down 1s steps(4);
}

#player.move-left {
    background-position-x: 0px;
    background-position-y: -64px;
    animation: walk-left 1s steps(4);
}

#player.move-right {
    background-position-x: 0px;
    background-position-y: -128px;
    animation: walk-right 1s steps(4);
}

@keyframes walk-up {
    100% { background-position: -256px -192px; }
}
@keyframes walk-right {
    100% { background-position: -256px -128px; }
}
@keyframes walk-down {
    100% { background-position: -256px 0; }
}
@keyframes walk-left {
    100% { background-position: -256px -64px; }
}
